/* remove white space */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.logo {
    margin: 0 auto;
}

body {
    font-family: 'Caveat Brush', sans-serif;
    background-color: #57B400;
    color: #000EB4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 2em;
    margin-bottom: .5em;
}

.game-area {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 80px;
}

#board div {
    background-color: #76552b;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    /* I wanted to give my holes some depth, I found a way online to do this using inset box-shadow */
    box-shadow: inset 0 15px 0 10px #402905;
    position: relative;
    overflow: hidden;
}

#board div img {
    width: 100px;
    height: 100px;
}