/* remove white space */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.logo {
    margin: 0 auto;
}

body {
    font-family: 'Caveat Brush', sans-serif;
    background-color: #57B400;
    color: #000EB4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 2em;
    margin-bottom: .5em;
}

.game-area {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    background-color: #76552b;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    /* I wanted to give my holes some depth, I found a way online to do this using inset box-shadow */
    box-shadow: inset 0 15px 0 10px #402905;
    position: relative;
    overflow: hidden;
}

.hole .mole {
    width: 215px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise 1s ease-out;
}

.hole .bomber {
    width: 215px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise 1s ease-out;
}

/* obtained knowledge on this from https://imagekit.io/blog/creating-css-image-effects/#:~:text=External%20JavaScript&text=You%20can%20create%20your%20own,to%20create%20really%20cool%20effects. */
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        translate: translateX(-50%) translateY(0);
    }
}